$primary-color: #f5f5f5;
$secondary-color: #cc0000;
$color-white: #fff;
$color-black: #000;
$dark-gray: #333;
$pure-gray: #222;
$warning: rgba(241, 234, 34, .8);

// background //
$trans: transparent;
$non: none;

// font //
$basic-bold: 700;

// allignment //
$center: center;

// cursor //
$point: pointer;
