// flexbox for neumorphism containers //

.flex_container {
    display: flex;
    -webkit-flex-direction: column;
               -ms-flex-direction: column;
                   flex-direction: column;       
    align-content: space-between;
    padding: 16rem 2rem 8rem;
    margin-top: -12rem;
    background-color: $primary-color;
      
        
    .sub_flex {
        margin: 0 auto;
        width: 100%;
        height: 45rem;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        box-shadow: -15px -15px 20px rgba($color-white, .9),
            15px 15px 20px rgba($color-black, .05);
        @include round(10px);
        &:not(:last-child) {
            margin-bottom: 6rem;
        }
        // when move the cursor to overlay then text will be displayed
        &:hover .overlay {
            bottom: 0;
            height: 45rem;
            @include round(10px);
        }

        .subhead {
            margin: auto;
            color: $dark-gray;          
            font-size: 2rem;
            @include default_bold(700);
            text-align: center;
        }

        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            background-color: $dark-gray;
            overflow: hidden;
            width: 100%;
            bottom: 100%;
            height: 0;
            text-align: justify;
            backface-visibility: hidden;
            transition: .6s ease-in;
            @include round(10px);            

            .bullet {
                @include default_ul;                
                
                li {
                    font-size: 1.5rem;   
                    padding: 8px;                 
                    margin: auto;
                    color: $primary-color;
                    background-color: $dark-gray;
                }
            }
        }
    }
}

@media screen and (min-width: 770px) {
    .flex_container {
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        
        .sub_flex {
            position: relative;
            width: 25%;
            height: 45rem;
            &:not(:last-child) {
                margin-bottom: 6rem;
            }
            &:hover .overlay {
                height: 45rem;
            }
            
        }
        .subhead {            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }     
    }
}
