// footer container //

#footer {
    background-color: $dark-gray;

    .footer__header{
        color: $primary-color;
        padding: 1.5rem 2rem 1rem;
    }

    .footer-details {
        @include default_ul;
        background: $dark-gray;
        display: flex;
        padding: 0 0 1rem 1rem;

        li {
            font-size: 2rem;
            color: $primary-color;
            padding: 0 1rem;  
            
            .far, .fab {
                color: $primary-color;
                &:hover {
                    color: #db3236;
                }
            }          
        }
    }
}