// Why become a donor //

#donor_container {
    position: relative;
    height: 56rem;
    background-color: $dark-gray;

    .donor_head {
        text-align: $center;
        text-transform: uppercase;
        position: absolute;
        top: 7%;
        left: 5%;
        color: $primary-color;
        @include default_bold(700);
        font-size: 2rem;   
        padding: 1rem;
        box-shadow: -8px -8px 10px rgba($color-black, .3),
            8px 8px 10px rgba($color-white, .05);      

        .hovcolor {
            background: inherit;
            color: $secondary-color;
            border: $non;
            font-size: inherit;
            text-transform: uppercase;            
            outline: $non;
            cursor: $point;
            text-decoration: underline;           
        }
    }
    
    #donor_para {
        -webkit-transform: translateY(10rem);
           -moz-transform: translateY(10rem);
            -ms-transform: translateY(10rem);
             -o-transform: translateY(10rem);
                transform: translateY(10rem);
        text-indent: 20px;               
        animation: moveLeft .6s ease-in-out;   
        line-height: 2rem;
        font-size: 1.8rem;
        padding: 1.2rem 2.5rem;
        color: $primary-color;
        text-shadow: .9px .9px 1.5px $color-black;
        text-align: justify;  
        display: $non;
        
    }
}

// // @media screen and (max-width: 1140px) {
// //     #donor_container {
// //         height: 35rem;
// //     }

// //     .donor_head {
// //         position: absolute;
// //         top: 10%;
// //     }
// }

@media screen and (min-width: 540px) {
    #donor_container {
        height: 33rem;
    }

    #donor_para {
        -webkit-transform: translateY(9rem);
           -moz-transform: translateY(9rem);
            -ms-transform: translateY(9rem);
             -o-transform: translateY(9rem);
                transform: translateY(9rem);
    }
}


